@import './fonts/font.css';
@import '../images/icons/style.css';
@import './common-style/style.scss';


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)), url('../images/Bg__header.jpeg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;

  &__top {
    width: 100%;
    max-width: 1190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 28px;
  }

  &__logo {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    justify-self: start;
  }

  &__list {
    display: flex;
  }

  &__link {
    margin: 0 26px;
    font-family: 'Montserrat';
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    a{
      color: #ffffff;
      position: relative;
      transition: all 0.3s ease 0s;
      &::after{
        position: absolute;
        right: 0;
        left: 0;
        top: 25px;
        margin: 0 auto;
        background: #fce38a;
        height: 3px;
        width: 100%;
      }
      &:hover {
        color:#fce38a;
        &::after {
          content: "";
        }
       }
    }

  }

  &__purches {
    background: transparent;
    color: #ffffff;
    margin-right: 52px;
    transition: all 0.3s ease 0s;
    &:hover {
      color:#fce38a;
     }
  }

  &__input {
    padding: 4px 0px 4px 10px;
    border-radius: 4px;
    margin: 0 3px;
    max-width: 120px;
  }

  &__search {
    background: transparent;
    color: #ffffff;

    transition: all 0.3s ease 0s;
    &:hover {
      color:#fce38a;
     }

  }

  &__down {
    max-width: 1190px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__slider {
    max-width: 840px;
    margin: 179px 0 124px 0;
  }
  .slick-slider {
    position: relative;
    .slick-list {
      overflow: hidden;
    }
    .slick-track{
      display: flex;
    }
    .slick-dots {
      position: absolute;
      top: 710px;
      left: -200px;
      display: flex;
      li.slick-active {
        button {
            &::before{
              content: "";
              position: absolute;
              top: 0;
              width: 280px;
              height: 3px;
              left: 0;
              background-color: #ffffff;
              border-left: inset 70px #f38181;
            }
          }
        }
      li {
        margin: 0 15px ;
        button {
          position: relative;
          font-size: 0;
          width: 280px;
            &::after{
              content: "01 Intro";
              display: inline;
              width: 110px;
              position: absolute;
              color: rgba(255, 255, 255, 0.7);
              font-size: 18px;
              text-align: left;
              top: 20px;
              left: 0;
              &::first-letter {
                font-size: 20px;
              }
            }
            &::before{
              content: "";
              position: absolute;
              top: 0;
              width: 280px;
              height: 3px;
              left: 0;
              background-color: rgba(255, 255, 255, 0.5);
            }
          }
          #slick-slide-control01{
            &::after{
              content: "02 Work";
            }
          }
          #slick-slide-control02{
            &::after{
              content: "03 About";
            }
          }
          #slick-slide-control03{
            &::after{
              content: "04 Contacts";
            }
          }
      }
    }
    &::after{
      content: "";
      position: absolute;
      width: 60px;
      height: 3px;
      left: 390px;
      bottom: -60px;
      background-color: #ffffff;
    }
  }

  &__title {
    font-family: 'Kaushan Script';
    font-size: 72px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 42px;
  }

  &__maintitle {
    font-family: 'Montserrat';
    text-transform: uppercase;
    max-width: 802px;
    font-size: 150px;
    font-weight: 700;
    line-height: 0.93;
    text-align: center;
    color: #ffffff;
  }

  &__btn {
    padding: 15px 32px 14px 33px;
    border: solid 3px #ffffff;
    font-family: 'Montserrat';
    background-color: transparent;
    text-transform:uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 230px;
    transition: all 0.3s ease 0s;
    &:hover {
      color: #f38181;
      border: solid 3px #f38181;
    }
  }
}

.about {


  &__container {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 100px 0;
  }

  &__card {
    max-width: 380px;
    margin:  0px 20px;
    background-color: #95e1d3;
    position: relative;
    &:hover {
      &::after {
        content: '';
      }
        &::before{
          content: 'super team';
        }
    }
    &::after {
      position: absolute;
      right: 184px;
      bottom: 133px;
      font-size: 12px;
      width: 32px;
      height: 24px;
      background-image: url('../images/icons/Users.svg');
      background-repeat: no-repeat;
    }
    &::before {
      position: absolute;
      font-family: 'Montserrat';
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      color: #ffffff;
      right: 141px;
      bottom: 108px;
      z-index: 1;
    }
  }

  &__shell {
    transition: all 0.9s ease 0s;
    position: relative;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
      width: 100%;
      height: 100%;
    }
    &:hover {
      &::after {
        content: '';
      }
      transform: translate(-10px, -10px);
    }
  }
}

.achievements {

  background-color: #95e1d3;

  &__container {
    display: flex;
    width: 100%;
    max-width: 1200px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 20%;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    &:nth-child(5) {
      border-right: 1px solid rgba(255, 255, 255, 0.3);
    }
  }

  &__number {
    font-family: 'Montserrat';
    margin: 89px 0px 30px 0px;
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
  }

  &__description {
    margin-bottom: 90px;
    font-family: 'Montserrat';
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.wework {

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 90px;
  }

  &__card {
    flex: 0 0 33%;
    display: flex;
    padding: 50px;
  }

  &__icon {
    width: 32px;
    height: 32px;
    font-size: 30px;
    color: #95e1d3;
  }

  &__describe {
    margin-left: 27px;
  }

  &__title {
   margin-bottom: 20px;
    font-family: 'Montserrat';
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    color: #333333;
  }

  &__text {
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 1.6;
    text-align: left;
    color: #999999;
  }
}






//frequently use classes and blocks

.title {
  margin: 90px 0;
  .subtitle {
    font-family: 'Kaushan Script';
      font-size: 24px;
      text-align: center;
      color: #333333;
      margin-bottom: 23px;
  }
  .main-title {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #333333;
    text-transform: uppercase;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      bottom: -40px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 60px;
      height: 3px;
      background-color: #f38181;
    }
  }
}
.text {
  max-width: 954px;
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
  color: #999999;
}

// Support Classes

.menu-burger{
  display: none;

}
.shadow {
  box-shadow: 0px 0px 3px #888;
}
.d-none {
  display: none;
}





// Menu Burger

@media screen and (max-width:768px){
  .menu-burger {
    display: block;
    z-index: 5;
    right: 0px;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu-burger::before,
  .menu-burger::after,
  .menu-burger span {
    left:0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: black;
  }
  .menu-burger::before,
  .menu-burger::after {
    content: "";
  }
  .menu-burger::before {
    top: 0;
  }
  .menu-burger::after {
    bottom: 0;
  }
  .menu-burger span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
  .menu-burger._active {
    span {
      transform: scale(0) translate(0, -50%);
    }
  }
  .menu-burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu-burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }



  .header__list{
    position: fixed;
    overflow: auto;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color:rgba(0, 0, 0, 0.9);
    padding: 120px 15px 15px 15px;
    transition: left 0.3s ease 0s;
    display: flex;
    flex-direction: column;

  }

  .header__list._active {
    left: 0px;
    .header__logo {
        position: fixed;
        left: 30px;
    }
    .fixed-burger {
      position: fixed;
    }
  }
  .header__list._active::before{
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 94px;
    background: gray;
    z-index: 9;
  }
 }






